.title {
  color: $color-primary;
  font-size: 3.6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6.8rem;
  margin-bottom: 4rem;
  @media only screen and (max-width: $bp-xs) {
    font-size: 2.3rem;
  }

  &::after,
  &::before {
    content: "";
    background-color: $color-primary;
    width: 35%;
    height: 1px;
    @media only screen and (max-width: $bp-md) {
      width: 20%;
    }
  }
  // &::after {
  // }
}
