section {
  width: 100%;
  background-color: black;
  &.home {
    height: 130vh;
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 10%,
        rgba(9, 9, 121, 0) 50%,
        rgba(2, 170, 227, 0) 50%,
        rgba(17, 17, 17, 1) 90%
      ),
      url("../assets/img/bg--home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &.latest {
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 10%,
        rgba(9, 9, 121, 0) 50%,
        rgba(2, 170, 227, 0) 50%,
        rgba(17, 17, 17, 1) 90%
      ),
      url("../assets/img/bg--latest-releases.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.other {
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 10%,
        rgba(9, 9, 121, 0) 50%,
        rgba(2, 170, 227, 0) 50%,
        rgba(17, 17, 17, 1) 90%
      ),
      url("../assets/img/bg--other-releases.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.about {
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 0) 10%,
        rgba(9, 9, 121, 0) 50%,
        rgba(2, 170, 227, 0) 50%,
        rgba(17, 17, 17, 1) 90%
      ),
      url("../assets/img/bg--about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.logo {
  margin-top: 11rem;
  @media only screen and (max-width: $bp-xs) {
    width: 70%;
  }
}

.scroll-down {
  margin-top: 3rem;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.4s ease-out;

  &__text {
    color: $color-primary;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: $bp-sm) {
      font-size: 3rem;
    }
  }
  &__icon {
    margin-top: 1rem;
  }
}

.releases {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .videos {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-bottom: 5rem;
    & img {
      width: 50%;
    }
  }
}
