.nav {
  position: relative;
  top: -8%;
  color: $color-primary;
  text-transform: uppercase;
  width: 57rem;
  height: 0rem;
  animation: navAnim 0.6s forwards cubic-bezier(0.44, 0.27, 0.61, 1.43);
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;

  margin-top: 4rem;
  @media only screen and (min-width: $bp-lg) {
    margin: auto;
  }
  @media only screen and (max-width: $bp-sm) {
    display: none;
  }

  &__item {
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s ease-out, background-color 0.1s ease-out;
    text-decoration: none;
    opacity: 0;
    animation: appears 4s forwards;

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}
